force-app/main/default/flows/DeleteCaseRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_List</name>
        <label>Redirect List</label>
        <locationX>965</locationX>
        <locationY>417</locationY>
        <actionName>c:LC27_RedirectCaseToListView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>redirectURL</name>
            <value>
                <elementReference>URLRedirect</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>CheckProfile</name>
        <label>CheckProfile</label>
        <locationX>173</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>NotServiceManager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Manager_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Deleted</targetReference>
            </connector>
            <label>Service Manager Profile</label>
        </rules>
    </decisions>
    <interviewLabel>DeleteCaseRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteCaseRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Case_Records</name>
        <label>Delete Case Records</label>
        <locationX>656</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>834</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redirect_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case List URL</stringValue>
            </value>
        </filters>
        <object>Case__mdt</object>
        <outputAssignments>
            <assignToReference>URLRedirect</assignToReference>
            <field>Env_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>NotServiceManager</name>
        <label>NotServiceManager</label>
        <locationX>261</locationX>
        <locationY>457</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotDelete</name>
            <fieldText>&lt;p&gt;Only a service Manager can delete the record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Deleted</name>
        <label>Record Deleted</label>
        <locationX>491</locationX>
        <locationY>184</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Case_Records</targetReference>
        </connector>
        <fields>
            <name>DeleteConfirmation</name>
            <fieldText>&lt;p&gt;You are going to delete the record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>99</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>CheckProfile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URLRedirect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
