force-app/main/default/flows/FL_CheeckValorisation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Equal_300</name>
        <label>Equal 300</label>
        <locationX>998</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prestation_offerte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6004</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_500</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Equals_500</name>
        <label>Equals 500</label>
        <locationX>1278</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prestation_offerte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6005</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_300</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_voucher_60</name>
        <label>update voucher 60</label>
        <locationX>652</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prestation_offerte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>60 euros</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_1000</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_300</name>
        <label>Check if 300</label>
        <locationX>644</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>If_500</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Eclub_Record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equal_300</targetReference>
            </connector>
            <label>check300</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_nb_of_point</name>
        <label>Check nb of point</label>
        <locationX>310</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Check_if_300</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckNbPoint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Eclub_Record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_voucher_60</targetReference>
            </connector>
            <label>CheckNbPoint</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_500</name>
        <label>If 500</label>
        <locationX>998</locationX>
        <locationY>845</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Points__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Eclub_Record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equals_500</targetReference>
            </connector>
            <label>Check500</label>
        </rules>
    </decisions>
    <interviewLabel>FL_CheeckValorisation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_CheeckValorisation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Eclub_Record_type</name>
        <label>Get Eclub Record type</label>
        <locationX>146</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_nb_of_point</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eclub</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_1000</name>
        <label>Update 1000</label>
        <locationX>884</locationX>
        <locationY>380</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_300</name>
        <label>Update 300</label>
        <locationX>1486</locationX>
        <locationY>850</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_500</name>
        <label>Update 500</label>
        <locationX>1262</locationX>
        <locationY>622</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Eclub_Record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Points__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Voucher__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
